* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
}

header {
  z-index: 1000;
  height: 120px;
  background-color: white;
  position: fixed;
  width: 100vw;
  transition: height 0.5s;
}

.small {
  height: 82px;
}

.small .header-content .header-links li {
  padding: 0 15px 0px 15px
}

.small .header-content .header-links li a::after {
  bottom: -10px;
} 

.header-body {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 10px 40px 10px 10%;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  min-height: 410px;
  padding-top: 30px;
  background-color: rgb(206, 211, 215);
}

.footer-body {
  display: flex;
  position: relative;
  justify-content: space-around;
  min-height: 320px;
  background-color: rgb(16, 36, 78);
  overflow: hidden;
  padding-top: 70px;
}

.footer-text {
  min-height: 80px;
  background-color: rgb(206, 211, 215);
  text-align: center;
  padding: 24px;
}

.footer-ul {
  padding-left: 18px;
  color: white;
  list-style: none;
}

.footer-h3 {
  color: white;
  margin-bottom: 18px;
  position: relative;
  padding-left: 18px;
}

.footer-h3::before {
  position: absolute;
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: rgb(68, 181, 228);
  left: 3px;
  top: 3px;
  bottom: 0;
  margin: auto;
}

.social-media {
  display: flex;
  justify-content: space-around;
  padding-bottom: 18px;
}

.social-media a i {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 29px;
  height: 29px;
  color: rgb(16, 36, 78);;
  background-color: rgb(68, 181, 228);
}

.footer-ul li {
  position: relative;
  margin-bottom: 10px;
}

.footer-ul a {
  color: rgb(206, 211, 215);
}

.footer-ul li::before {
  position: absolute;
  content: ""; 
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 8px solid rgb(206, 211, 215);;
  top: 3px;
  bottom: 0;
  margin: auto;
  left: -15px;
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.left-circle, .right-circle {
  position: absolute;
  background-color: rgb(14, 32, 70);
  width: 130px;
  height: 130px;
  border-radius: 50%;
  top: 60px;
}

.left-circle {
  left: -105px;
}

.right-circle {
  right: -105px;
}

.logo {
  max-width: 28%;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  align-items: center;
}

.logoImg {
  width: 100%;
  min-width: 160px;
  display: block;
}

.search-lang {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
}

.search i {
  position: absolute;
  left: 4px;
  transition: .2s;
  color: rgba(0, 0, 0, 0.596);
}

.search {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  background: white;
  border-radius: 3px;
  padding: 5px;
  border: solid 1.5px rgba(0, 0, 0, 0.267);
}

.mobile-search {
  display: none;
}

.mobile-lang {
  display: none;
}

.searchInput:focus {
  width: 100%;
}

.searchInput:focus + .fa-search {
  transform: scale(0);
  opacity: 0;
}

.searchInput {
  font-size: larger;
  border: none;
  outline: none;
  width: calc(100% - 18px);;
  transition: width .4s;
}

.fa-search::before {
  top: 7px;
}

.dropbtn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  outline: none;
}

.dropbtn::before {
  width: 7px;
  height: 7px;
  border-left: 2px solid;
  border-top: 2px solid;
  content: "";
  transition: .3s;
  transform: rotate(-135deg);
  position: absolute;
  left: 39px;
  top: -2px;
  bottom: 0;
  margin: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 0 10px 0 10px;
  overflow: none;
}

.drop-flags {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: white;
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.drop-flags a {
  text-decoration: none;
  display: block;
}

.flag-img {
  width: 26px;
}

.dropdown:hover .drop-flags {
  display: block;
}

.dropdown:hover .dropbtn {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.dropdown:hover .dropbtn::before {
  top: 0;
  transform: rotate(45deg);
}

.body-container {
  height: 100%;
  display: flex;
}

.header-links {
  display: flex;
  list-style: none;
  width: 100%;
  align-items: center;
  margin-left: auto;
}

.header-links li {
  padding: 0 15px 10px 15px;
}

a {
  display: block;
  text-decoration: none;
}

.header-links li a {
  white-space: nowrap;
  font-size: 16px;
  position: relative;
  color: black;
}

.content {
  /* flex-direction: column; */
  padding: 20% 40% 0 10%;
  min-height: 100vh;
  background-image: url('./icons/bg.jpg');
  background-size: cover;
}

.content * {
  margin-bottom: 20px;
}

.content i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: rgb(68, 181, 228);
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.content h1 {
  font-size: 40px;
  color: white;
}

.content p {
  font-size: 17px;
  color: rgb(206, 211, 215);
  max-width: 680px;
}

.hamburger {
  position: absolute;
  border: none;
  outline: none;
  background-color: transparent;
}

@media screen and (min-width: 769px) {
  .header-links li a::after {
    border-top: solid #2791e7;
    content: "";
    position: absolute;
    right: 50%;
    left: 50%;
    opacity: 0;
    bottom: -10px;
    transition: .4s cubic-bezier(0,.5,0,1);
  }
  
  .header-links li a:hover{
    color:#2791e7;
  }
  
  li a:hover::after {
    right: 0;
    left: 0;
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 70px;
  }
  
  .header-body {
    padding: 0;
  }
  
  .search-lang {
    display: none;
  }
  
  .mobile-search {
    display: flex;
    width: 70vw;
    height: 40px;
  }
  
  .mobile-lang {
    display: flex;
  }
  
  .fa-search::before {
    position: absolute;
    top: 4px;
  }
  
  .logo {
    display: none;
  }
  
  .hamburger {
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
  
  .line {
    width: 30px;
    height: 3px;
    background: black;
    margin: 5px;
  }
  
  .header-links li {
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
  }
  
  .header-links {
    position: fixed;
    padding: 70px 0;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    transition: all .4s ease-out;
    pointer-events: none;
  }
  
  .header-links.open {
    pointer-events: all;
  }
  
  /* .header-links.open + body {
    overflow: hidden;
  } */
  
  .header-links::before {
    content: "";
    position: absolute;
    top: 70px;
    border-top: solid 1px;
    height: 0;
    width: 100vw;
    background: white;
    transition: all .4s ease;
  }
  
  .header-links.open::before {
    height: calc(100% - 69px);
    transition: all 1s ease;
  }
  
  .header-links.open li {
    transition-delay: .3s;
    transition-duration: 2s;
    visibility: visible;
    opacity: 1;
  }

  .header-links li a {
    font-size: 25px;
    margin: 0 10px;
  }
  
  .content {
    padding: 30% 40% 0 10%;
  }

  .footer-body {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
  }
  
  .footer-h3 {
    font-size: 22px;
  }
  
  .footer-list {
    margin-bottom: 20px;
  }

  .footer-ul li a {
    font-size: 20px;
  }

  .social-media {
    width: calc(100vw - 60px);
  }

  .social-media a i {
    width: 35px;
    height: 35px;
    font-size: 26px;
  }

  .social-ul {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .small .header-content .header-links li, .header-links li {
    padding: 0 14px 0px 0;
  }

  .header-body {
    padding: 10px 2% 10px 1%;
  }
}

